<div id="container">
  <div style="margin-left: 20%; margin-right: 20%; margin-top: 30%">
    <h2 style="font-family: 'Boogaloo', cursive; color: white">MITRE HEALTH TRACKER</h2>
  </div>
  <div class="login-frame">
    <form>
      <div class="form-group">
        <label for="username" style="color: white">Username</label>
        <input type="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" style="color: white">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <label class="form-check-label" style="color: white">
          <input type="checkbox" class="form-check-input">
          Remeber me
        </label>
      </div>
      <button class="ui teal button" style="color: white">Login</button>
      <button class="ui yellow button" style="color: white">Sign up</button>
    </form>

  </div>
</div>
